@use '_variables' as v;
@use 'base/mixins.scss' as m;
//Esto va a realizar que cada unidad rem valga 10px es decir: rem = 10px
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: v.$blanco;
  font-family: v.$fuente_principal;
  color: v.$blanco;
  margin: 0;

  h1,h2,h3,p,a{
    margin: 0;
    padding: 0;
    color: v.$grisOscuro;
  }
  *, ::after, ::before {
    box-sizing: inherit;
  }

  h1 {
      font-size: 4rem;
  }
  h2 {
      font-size: 3.2rem;
      line-height: 2.5rem;
      text-transform: uppercase;
      font-weight: 400;
      margin: 5rem 0;
      line-height: normal;
  }
  h3 {
      font-size: 2.6rem;
      line-height: normal;
  }
  p{
    font-size: 1.8rem;
  }
  a {
    list-style: none;
    text-decoration: none;
    color: v.$grisOscuro;
    font-size: 2.8rem;
    line-height: normal;
  }


  @include m.tablet {
    h1{
      font-size: 3.5rem;
    }
    h2,legend{
      font-size: 2.7rem;
      margin: 1rem 0;
    }
    h3,label{
      font-size: 1.9rem;
      margin: 1rem 0;
    }
    p{
      font-size: 1.7rem;
    }
    a{
      font-size: 1.7rem;
    }
  }
  @include m.telefono {
    h1{
      font-size: 3rem;
    }
    h2, legend{
      font-size: 2.4rem;
      margin: 1rem 0;
    }
    h3, label{
      font-size: 1.8rem;
      padding-top: 1rem;
    }
    p{
      font-size: 1.5rem;
    }
    a{
      font-size: 1.5rem;
    }
  }
}

/* aplicar un modelo de diseño de caja natural a todos los elementos, pero permitiendo que los componentes cambien*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

.contenedor {
  width: 95%;
  height: 100vh; 
  margin: 0 auto;
  padding: 5rem 0;
}

.contenedor-vertical{
  padding: 5rem 0;
  @include m.telefono {
    height: 100%;
  }
  @include m.tablet {
    height: 100%;
  }
  width: 90%;
  height: 100vh; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  
      h2 {
        color: v.$grisOscuro ;
        text-align: center;
        font-weight: 400;
    }
}

img {
  height: 100vh; 
    width: 100%;
    height: auto;
    display: block;
}

.habilitar-display{
  display: flex !important; 
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}
