@use 'base/variables' as v;

@mixin boton($color){
  /* Estilos del botón */
    display: inline-block;
    width: 12rem;
    height: 4rem;
    background-color: $color;
    color: v.$blanco;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    align-content: center;


}
@mixin background($color){
  background-color: $color;
  border: 1px solid darken($color: $color, $amount: 3);
}

@mixin telefono{
  @media only screen and (max-width: 767px) {
      /* Estilos para dispositivos móviles */
      /* Puedes ajustar aquí los estilos específicos para celulares */
    @content;
  }

}
@mixin tablet{
  /* Media query para tabletas */
  @media only screen and (min-width: 768px) and (max-width: 1360px) {
      /* Estilos para tabletas */
      /* Puedes ajustar aquí los estilos específicos para tabletas */
    @content;
  }
}
