// Tipografia
@font-face {
    font-family: roboto;
    src: url('fonts/Roboto-Light.ttf') format('truetype');
  }
  
$fuente_principal: roboto, 'Lato';
$fuente_secundaria: 'Arial, sans-serif';


//Colores
$grisClaro: #E0E0E0;
$blanco:  #fbfcfc ;
$grisOscuro: #333333;
$violetaClaro: #b47dcd;
$azulClaro:     #809fc6;
$azulOscuro:    #3e5f8a;
$rosaOscuro: #BA6883;
$rosaClaro: #E88BAD;