@use 'base/mixins.scss' as m;
@use 'base/variables' as v;
.background-grisClaro{
    @include m.background(v.$grisClaro);
}
.background-blanco{
    @include m.background(v.$blanco);
}
.background-azulOscuro{
    @include m.background(v.$azulOscuro);
}