@use 'base/mixins.scss' as m;
@use 'base/variables' as v;


.boton-azul{
    margin: 0 auto;
    @include m.boton(v.$azulClaro); 
    z-index: 2;
    width: 100%;
    @include m.telefono {
        width: 100%; /* 80% del ancho de la pantalla en dispositivos pequeños */
        
    }
    @include m.tablet { 
         width: 80%;
    }
}
.boton-azul:hover{
    background-color: v.$azulOscuro;
}