@use 'base/variables' as v;

.material-symbols-outlined{
    font-size: 3rem !important;
    cursor: pointer;
}
.darkmode{
    background-color: v.$grisOscuro !important;
    color: v.$blanco !important;
}

.darkmode__texto{
    color: v.$blanco !important;
}