@use 'base/variables' as v;
@use 'base/mixins.scss' as m;

.formulario {
    width: 60vw; /* 100% del ancho de la pantalla */
    margin: 0 auto;
    @include m.telefono {
        width: 100%;
    }
    p {
        color: v.$grisOscuro;
        margin: 2rem 0 0 0;
    }

    legend {
        font-size: 2rem;
    }
    h2, legend, label{
        color: v.$grisOscuro;
    }

    label {
        font-weight: 600;
        text-transform: uppercase;
        display: block;
        padding-top: 2rem;
    }
    input:not([type="submit"]), 
    textarea,
    select {
        padding: 1rem;
        display: block;
        width: 100%;
        background-color: v.$blanco;
        border: 1px solid v.$grisOscuro;
        border-radius: 1rem;
        margin: 2rem 0;
    }

    textarea {
        height: 10rem;
    }

    .forma-contacto {
        max-width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    input[type="radio"] {
        margin: 0;
        width: auto;
    }
}