@use 'base/_variables' as v;
@use 'base/mixins.scss' as m;
header {
    width: 100%;
    list-style-type: none;
    .contenedor-header {
        width: 100%;
        display: flex;
        justify-content: center;
        box-shadow: .1rem .2rem .3rem #333;
    }

}
#navbar {
    background-color: v.$blanco;
    padding: 10px 20px;
    position: fixed;
    left: 0;
    width: 100%;
    transition: top 0.5s;
  }
  
  #navbar.show {
    top: 0;
    z-index: 5;
  }
  
.menu {
    display: flex;
    height: 5vh;
    background-color: v.$blanco;
    justify-content: space-around;
    align-items: center;
    max-width: 120rem;
    color: v.$grisOscuro;
    width: 100%;
    
}

.menu li {
    margin-right: 5rem;
}

.menu a {
    position: relative;
    display: block;
    padding: 5px;
    font-weight: 400;
}
.menu .menu-chico{
    display: none;
}
@include m.telefono {
    .menu {
        flex-direction: column;
        height: 100%;
        gap: 0.5rem;
    }
    .menu li{
        display: none;
    }
    
    .menu .menu-chico, .menu li a{
        display: flex;
    }
}

.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, v.$azulClaro, v.$violetaClaro, v.$rosaClaro, v.$rosaOscuro);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.menu a:hover::before {
    transform: scaleX(1);
}


/* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu[data-animation="bonus"] a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

/*fuente 
  https://webdesign.tutsplus.com/es/how-to-create-different-css-hover-effects-from-scratch--cms-34222t*/