@use 'base/variables' as v;
@use 'base/mixins.scss' as m;
.hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
    .overlay {
        background-color: rgba(0, 0, 0, 0.655); /* Color de fondo semi-transparente */
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 5rem;
        text-align: center;
        @include m.telefono {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            height: 100%;
            row-gap: 4rem;
        }
        @include m.tablet {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            height: 100%;
            row-gap: 4rem;
        }
        .overlay__imagen{
            width: 14rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin-right: 5%;

            img{
                border-radius: 50%;
                display: flex;
                margin-bottom: 25px;
            }
        }
        .overlay__info{
            h1,h2,p{
            color: v.$blanco;
            }
            p{
                margin-top: 1rem;
            }
        }
    }
    video {
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }

}
