@use "base/variables" as v;
@use 'base/mixins.scss' as m;

.portfolio {
    margin: 0 auto;
    margin-bottom: 5rem;
    .proyecto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        border-radius: 10px;
        padding: 1rem;

        @include m.telefono {
            display: flex;
            flex-direction: column;
        }
        @include m.tablet {
            display: flex;
            flex-direction: column;
        }

        .portfolio__info {
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-rows: .5fr 2fr 0.5fr;
            row-gap: 1rem;

            h3 {
                text-align: center;
                font-weight: 300;
                text-transform: uppercase;
            }
        }

        .portfolio__referencia {
            position: relative;
            width: 100%;
            margin: 0 auto;

            @include m.telefono {
                width: 95%;
            }
            @include m.tablet {
                width: 80%;
            }

            img {
                background-size: cover;
                width: 100%;
                height: auto; /* Cambiado a auto para mantener la relación de aspecto */
                position: relative;
                border-radius: 10px;
                box-shadow: none; /* Elimina cualquier sombra heredada */
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
            }

            .portfolio__background {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
                overflow: hidden; /* Ocultar contenido que exceda del elemento */
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    h2 {
        text-align: center;
    }
}

.custom-text {
    font-family: 'Roboto', sans-serif; /* Fuente personalizada para el texto */
    font-size: 18px; /* Ajusta el tamaño de la fuente según tus necesidades */
    margin-left: 10px; /* Espacio entre el ícono y el texto */
}

.icon-mysql {
    font-size: 24px; /* Ajusta el tamaño del ícono */
    vertical-align: middle; /* Alinea verticalmente con el texto */
}

.fa-brands {
    font-size: 3rem;
}

.fa-sass {
    color: #ce679a;
}

.fa-html5 {
    color: #e75928;
}
.fa-css3-alt {
    color: #1572B6; /* Color original del ícono CSS3 */
}
.fa-js {
    color: #f4ba00;
}

.fa-php {
    color: #848db9;
}

.fa-database {
    color: v.$grisClaro;
}

ol {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    @include m.telefono {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.icon-container i{
    font-size: 5rem;
    margin: 0; /* Elimina márgenes adicionales que puedan afectar la alineación */
    transition: transform 0.5s ease, color 0.5s ease;
    @include m.telefono {
        font-size: 3.5rem;
        margin: 0 auto;
        transition: transform 0.5s ease, color 0.5s ease;
    }
}
.icon-container .fab:hover, .icon-container .fas:hover {
    transform: translateX(10%) scale(1.2);  /* Aumenta el tamaño del ícono al pasar el ratón */
    color: #007bff; /* Cambia el color al pasar el ratón */
    @include m.telefono {
        transform: scale(1.1);
    }
}

.icon-container img {
    vertical-align: middle; /* Alinea verticalmente con otros íconos */
    transition: transform 0.5s ease, color 0.5s ease;
}


.textHTML5, .textCSS, .textSASS, .textJS, .textPHP, .textSQL{
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 110%; /* Justo debajo del icono */
    left: 100%;
    right: 100%;
    transform: translateX(-50%);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    white-space: normal; /* Permite el salto de línea */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    background: rgba(34, 31, 31, 0.4);
    width: 14rem;
    @include m.telefono {
        font-size: 1rem;
    }
}
.textSASS{
    left: 0%;
    right: 100%;
}
.textSQL{
    font-weight: 300;
    left: 0;
}

@include m.telefono {
    .textPHP, .textSQL, .textJS{
        top: -110%;
        margin-top: -3rem;
    }
}


/* Mostrar el texto al hacer hover */

/* Estilo cuando el <span> está visible */
.textHTML5.visible, .textCSS.visible, .textSASS.visible, .textJS.visible, .textPHP.visible, .textSQL.visible{
    opacity: 1;
    transform: translateX(-50%) scale(1);
}