@use 'base/mixins.scss' as m;
@use 'base/variables' as v;


    .skills {
        height: 100%;
        img {
            padding-top: 3rem;
            width: 50%;
            margin: 0 auto;
            transition: transform 0.3s ease;
            /* Agrega una transición suave al efecto de zoom */
            transition: margin 0.3s ease;
            /* Agrega una transición suave al efecto */
            @include m.telefono {
                width: 30%;
            }
        }

        img:hover {
            margin-top: 1rem;
            margin-bottom: 1rem;
            transform: scale(1.1);
            /* Aplica un efecto de zoom al 110% del tamaño original */
        }


        .lasSkills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
            @include m.telefono {
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            @include m.tablet {
                display: flex;
                flex-direction: column;
                text-align: center;
                
            }

            .skill {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;

                h3 {
                    text-align: center;
                    font-weight: 400;
                }

                p {
                    margin-top: 3rem;
                }
            }
        }

        h2, h3, p{
            color: v.$blanco;
        }
    }