@use 'base/variables' as v;

.sobreMi{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    .sobreMi__informacion{
        background-color: v.$grisClaro;
        height: auto;
        width: 100%;
    }
    picture{
        width: 100%;
    }
}